footer{
    background-color: #EE4248;
    p{
        width: 382px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 22px 529px;
    }
}